
<!DOCTYPE html>
<html lang="en">
<head>
	<title>CourseYard</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous"
/>	
<link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css+font-awesome.min.css+barfiller.css+nowfont.css+rockville.css+magnific-popup.css+owl.carousel.min.css+slicknav.min.css+style.css.pagespeed.cc.hwzTaSDQ4L.css" type="text/css" />

<link rel="stylesheet" href="/css/l.css" type="text/css" />
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/css/price.css" type="text/css" />
<link rel="stylesheet" href="/css/slicktheme.css" type="text/css" />
<link rel="stylesheet" href="/css/slick.css" type="text/css" />


<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/css/demo.css" />
<link rel="stylesheet" type="text/css" href="/css/card.css" />
<link rel="stylesheet" type="text/css" href="/css/pattern.css" />
<link rel="stylesheet" href="/assets/css/icons.css">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/assets/css/uikit.css"> 
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/tailwind.css">


    
	





<!--===============================================================================================-->



	<link rel="stylesheet" href="/stylesheets/login.css" />
  <link rel="stylesheet" href="/stylesheets/about.css" />
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
<!--===============================================================================================-->


</head>
<body >
	
	<!-- Header -->


	<!-- Cart -->
	


		

	<div id="preloder">
        <div class="loader"></div>
    </div>
 




	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->


</body>
</html>