
<!DOCTYPE html>
<html lang="en">
<head>
	<title>BRUH</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<style>
	@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
</style>
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

	<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
	
    
	





<!--===============================================================================================-->


 <link rel="stylesheet" type="text/css" href="/stylesheets/singlecard.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/slider.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/menu.css" />
	<link rel="stylesheet" href="/stylesheets/horizontalstyle.css" />
	<link rel="stylesheet" href="/stylesheets/login.css" />
<!--===============================================================================================-->

<script>
	
	function addwishlist(e){
        console.log('fromhere');
        var likeditems=(localStorage.getItem('bruhwishitems'));
        if(likeditems!==null&&likeditems.split(",").includes(e)){
          var updatedarray=  likeditems.split(",").filter(ele=>{
                if(ele!==e){
                    return ele;
                }else{
                    // document.getElementById(`love${ele}`).classList.remove('blueheart');
                    var love= document.getElementById(`love${ele}`);
                           love.style.fill='#fff';
                }
            });
            localStorage.setItem('bruhwishitems',updatedarray);
            if(updatedarray.length==0){
                document.getElementById('dot').style.opacity='0';
                document.getElementById('dot1').style.opacity='0';
                localStorage.removeItem('bruhwishitems');
            }
         
            
        }else{
        console.log(likeditems);
        document.getElementById('dot').style.opacity='1';
        document.getElementById('dot1').style.opacity='1';
        var wishitems=[e];
        
        // document.getElementById(`love${e}`).classList.add('blueheart');
        var love= document.getElementById(`love${e}`);
                           love.style.fill='#000';
        if(likeditems!==null){
             wishitems=wishitems.concat(likeditems);
        }
        
        localStorage.setItem('bruhwishitems',wishitems);
        console.log(wishitems,localStorage.getItem("bruhwishitems"));
        }
        
        
        }
</script>
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<!-- <img src="images/icons/logo-01.png" alt="IMG-LOGO"> -->
						<h2 style="font-size: 25px;font-family: 'Varela Round', sans-serif;font-weight: 700;">BRUH</h2>
					</a>

					<!-- Menu desktop -->
				
						<ul class="main-menu ">
						  <li class="nav-item">
							<a class="nav-link nav_item" href="/pages/about-us"
							  >About Us</a
							>
						  </li>
						  <li class="nav-item dropdown">
							<a
							  class="nav-link nav_item"
							  href="#"
							  id="navbarDropdown"
							
							
							  aria-haspopup="true"
							  aria-expanded="false"
							>
							  Skin
							</a>
							<div
							  class="dropdown-menu  "
							  aria-labelledby="navbarDropdown"
							  style="left: -200px;top: 60px;"
							>
							  <div class="dropdown-menu-container">
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Product category
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="/products/skin/Face washes & cleansers">
									  Face washes & cleansers
									</a>
									<a class="dropdown-item" href="#">Face scrubs</a>
									<a class="dropdown-item" href="#">
									  Face mists & toners
									</a>
									<a class="dropdown-item" href="#">Face Masks</a>
									<a class="dropdown-item" href="#">
									  Facial moisturizers
									</a>
									<a class="dropdown-item" href="#">Sunscreens</a>
									<a class="dropdown-item" href="#">
									  Face oils, serums & specialists
									</a>
								  </div>
								</div>
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Skin concerns
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="/products/skin/Acne & oil control">
									  Acne & oil control
									</a>
									<a class="dropdown-item" href="#">Face scrubs</a>
									<a class="dropdown-item" href="#"> Ageing skin </a>
									<a class="dropdown-item" href="#">Face Masks</a>
									<a class="dropdown-item" href="#"> Dryness </a>
									<a class="dropdown-item" href="#">Dull skin</a>
									<a class="dropdown-item" href="#">
									  Sun protection
									</a>
									<a class="dropdown-item" href="#"> Sensitivity </a>
									<a class="dropdown-item" href="#">
									  Tanning & pigmentation
									</a>
								  </div>
								</div>
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Skin Type
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="/products/skin/Oily & acne-prone skin">
									  Oily & acne-prone skin
									</a>
									<a class="dropdown-item" href="#"
									  >Normal/combination skin</a
									>
									<a class="dropdown-item" href="#"> Dry skin </a>
									<a class="dropdown-item" href="#">Sensitive skin</a>
									<a class="dropdown-item" href="#"> Mature Skin </a>
								  </div>
								</div>
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Ingredients
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="/products/skin/Green tea "> Green tea </a>
									<a class="dropdown-item" href="#">Hello aloe</a>
									<a class="dropdown-item" href="#">
									  Chamomile & white tea
									</a>
									<a class="dropdown-item" href="#"
									  >Grape seed & sea buckthorn</a
									>
									<a class="dropdown-item" href="#"> Bright years </a>
									<a class="dropdown-item" href="#">Vitamin-e</a>
									<a class="dropdown-item" href="#"> Charcoal </a>
									<a class="dropdown-item" href="#">
									  Bulgarian Rose
									</a>
								  </div>
								</div>
							  </div>
							</div>
						  </li>
						  <li class="nav-item dropdown">
							<a
							  class="nav-link nav_item"
							  href="#"
							  id="navbarDropdown"
							
					
							  aria-haspopup="true"
							  aria-expanded="false"
							>
							  Hair
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown"
							style="left: -200px;top: 60px;">
							  <div class="dropdown-menu-container">
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Product category
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="/products/skin/Face washes & cleansers">
									  Face washes & cleansers
									</a>
									<a class="dropdown-item" href="#">Face scrubs</a>
									<a class="dropdown-item" href="#">
									  Face mists & toners
									</a>
									<a class="dropdown-item" href="#">Face Masks</a>
									<a class="dropdown-item" href="#">
									  Facial moisturizers
									</a>
									<a class="dropdown-item" href="#">Sunscreens</a>
									<a class="dropdown-item" href="#">
									  Face oils, serums & specialists
									</a>
								  </div>
								</div>
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Skin concerns
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="/products/skin/Acne & oil control">
									  Acne & oil control
									</a>
									<a class="dropdown-item" href="#">Face scrubs</a>
									<a class="dropdown-item" href="#"> Ageing skin </a>
									<a class="dropdown-item" href="#">Face Masks</a>
									<a class="dropdown-item" href="#"> Dryness </a>
									<a class="dropdown-item" href="#">Dull skin</a>
									<a class="dropdown-item" href="#">
									  Sun protection
									</a>
									<a class="dropdown-item" href="#"> Sensitivity </a>
									<a class="dropdown-item" href="#">
									  Tanning & pigmentation
									</a>
								  </div>
								</div>
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Skin Type
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="/products/skin/Oily & acne-prone skin">
									  Oily & acne-prone skin
									</a>
									<a class="dropdown-item" href="#"
									  >Normal/combination skin</a
									>
									<a class="dropdown-item" href="#"> Dry skin </a>
									<a class="dropdown-item" href="#">Sensitive skin</a>
									<a class="dropdown-item" href="#"> Mature Skin </a>
								  </div>
								</div>
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Ingredients
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="/products/skin/ Green tea"> Green tea </a>
									<a class="dropdown-item" href="#">Hello aloe</a>
									<a class="dropdown-item" href="#">
									  Chamomile & white tea
									</a>
									<a class="dropdown-item" href="#"
									  >Grape seed & sea buckthorn</a
									>
									<a class="dropdown-item" href="#"> Bright years </a>
									<a class="dropdown-item" href="#">Vitamin-e</a>
									<a class="dropdown-item" href="#"> Charcoal </a>
									<a class="dropdown-item" href="#">
									  Bulgarian Rose
									</a>
								  </div>
								</div>
							  </div>
							</div>
						  </li>
						  <li class="nav-item dropdown">
							<a
							  class="nav-link nav_item"
							  href="#"
							  id="navbarDropdown"
							 
							
							  aria-haspopup="true"
							  aria-expanded="false"
							>
							  Body
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown"
							style="left: -200px;top: 60px;">
							  <div class="dropdown-menu-container">
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Product category
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="#">
									  Face washes & cleansers
									</a>
									<a class="dropdown-item" href="#">Face scrubs</a>
									<a class="dropdown-item" href="#">
									  Face mists & toners
									</a>
									<a class="dropdown-item" href="#">Face Masks</a>
									<a class="dropdown-item" href="#">
									  Facial moisturizers
									</a>
									<a class="dropdown-item" href="#">Sunscreens</a>
									<a class="dropdown-item" href="#">
									  Face oils, serums & specialists
									</a>
								  </div>
								</div>
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Skin concerns
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="#">
									  Acne & oil control
									</a>
									<a class="dropdown-item" href="#">Face scrubs</a>
									<a class="dropdown-item" href="#"> Ageing skin </a>
									<a class="dropdown-item" href="#">Face Masks</a>
									<a class="dropdown-item" href="#"> Dryness </a>
									<a class="dropdown-item" href="#">Dull skin</a>
									<a class="dropdown-item" href="#">
									  Sun protection
									</a>
									<a class="dropdown-item" href="#"> Sensitivity </a>
									<a class="dropdown-item" href="#">
									  Tanning & pigmentation
									</a>
								  </div>
								</div>
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Skin Type
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="#">
									  Oily & acne-prone skin
									</a>
									<a class="dropdown-item" href="#"
									  >Normal/combination skin</a
									>
									<a class="dropdown-item" href="#"> Dry skin </a>
									<a class="dropdown-item" href="#">Sensitive skin</a>
									<a class="dropdown-item" href="#"> Mature Skin </a>
								  </div>
								</div>
								<div class="dropdown-menu-subsection">
								  <a class="dropdown-item-header" href="#">
									Ingredients
								  </a>
								  <div class="dropdown-item-container">
									<a class="dropdown-item" href="#"> Green tea </a>
									<a class="dropdown-item" href="#">Hello aloe</a>
									<a class="dropdown-item" href="#">
									  Chamomile & white tea
									</a>
									<a class="dropdown-item" href="#"
									  >Grape seed & sea buckthorn</a
									>
									<a class="dropdown-item" href="#"> Bright years </a>
									<a class="dropdown-item" href="#">Vitamin-e</a>
									<a class="dropdown-item" href="#"> Charcoal </a>
									<a class="dropdown-item" href="#">
									  Bulgarian Rose
									</a>
								  </div>
								</div>
							  </div>
							</div>
						  </li>
						  <a
							href="/blog"
							class="nav-item nav-link nav_item"
							href="/blog"
						  >
							Blogs
						  </a>
						  <li class="nav-item">
							<a class="nav-link nav_item" href="/pages/contact-us"
							  >Contact Us</a
							>
						  </li>
						</ul>
					

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m" >
						<!-- <div class="search icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							<input class="search__text" type="text" name="" placeholder="search">
							<a href="#" class="search__button"><i class="fa fa-search"></i></a>
						  </div> -->
						  <!-- <div class="st-search-bar" >
						 <form action="/products/search" method="GET">
							<input type="text" name="search" placeholder="Search..." value="" autocapitalize="off" autocomplete="off" autocorrect="off">
						</form>

						</div> -->
						<div class="search-container"><div class="search-box-container"><form role="form" autocomplete="off" action="/products/search"><div class="search-box"><input id="search-input" name="search" class="form-control" type="text" placeholder="Search for items, brands &amp; inspiration" value=""><button class="search-button"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"><path fill="#212121" stroke="#000" stroke-width=".2" d="M18.78 17.722l-4.328-4.328A7.588 7.588 0 0 0 8.585 1a7.586 7.586 0 1 0 0 15.171 7.546 7.546 0 0 0 4.806-1.715l4.327 4.324 1.062-1.058zm-10.194-3.06a6.084 6.084 0 0 1-6.08-6.076c0-3.35 2.726-6.08 6.08-6.08a6.09 6.09 0 0 1 6.08 6.08c0 3.35-2.73 6.076-6.08 6.076z"></path></svg></button></div></form></div></div>












						  <% if (login) { %>
						  <a href="/user/profile">
						  <div class="header-user icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							<i class="zmdi zmdi-account-circle"></i>
						
							 </div>
							</a>
							<% } else {%>
								<a href="/user/signin">
						<div class="header-user icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							<i class="zmdi zmdi-account-circle"></i>
								  
							 </div>
							  </a>
									  <% }%>



						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="" id="js-cart" onclick="sidenav()">
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>
					
						<div class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11"  onclick="postdata()">
							<i class="zmdi zmdi-favorite-outline p-t-7"></i>
							<div class="point-badge p-t-7" id="dot"></div>
						</div>
						<form id="wishform" action="/postdata" method="POST">
							<input id="datafiles" name='ids' value="" type="hidden"/>
						 </form>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<!-- <a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a> -->
				<h2 style="font-size: 25px;font-weight: 700; color: #8e2de2;font-family: 'Varela Round', sans-serif;">BRUH</h2>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
			

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="" id="js-cart1" onclick="sidenav()">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>
				<div class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11"  onclick="postdata()">
					<i class="zmdi zmdi-favorite-outline p-t-7"></i>
					<div class="point-badge p-t-7" id="dot1"></div>
				</div>
			</div>

		
		</div>


		<!-- Menu Mobile -->
		<div class="mobile-menu js-cart">
			<div class="s-full js-hide-cart"></div>
	
			<div class="menu-lists flex-col-l">
				<div class="header-title" style="background: #eeeeee63;height: 100px;">

                
					<div class="header-user icon-header-item cl2 hov-cl1 trans-04 p-l-12 p-r-11">
						<i class="zmdi zmdi-account-circle p-t-30"></i>
							  
						 </div>
					<% if (login) { %>
						<div style="display: flex;flex-direction: column;margin:15px auto ;">
						<span class="mtext-102 cl2" style="text-align: left !important;">
							Welocme,
						</span>
							<span class="mtext-102 cl2" style="text-align: left !important;">
								<%=currentUser.username%>
							</span>
						</div>
						<% } else {%>
							<a href="/user/signin">
					<span class="mtext-103 cl2 p-l-25">
						Login/
					</span>
				</a>
				<a href="/user/signup">
					<span class="mtext-103 cl2">
						Register
					</span>
				</a>
				<% } %>
					<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart cross ">
						<i class="zmdi zmdi-close"></i>
					</div>
				</div>


				<aside class="sidebar-left-collapse">


					<div class="sidebar-links navelement st-search-bar" >
						<form action="/products/search" method="GET">
						   <input type="text" name="search" placeholder="Search..." value="" autocapitalize="off" autocomplete="off" autocorrect="off">
					   </form>

					   </div>
					<div class="sidebar-links navelement">
						<% if (login) { %>
							<div class="links ">
								<a href="/user/profile">
									<span>Profile</span>
								
								</a>
								
							  </div>
							  <% } %>
						
						

					  <div class="links navelement">
						<a href="#">
							<span>Skin</span>
							<span class="icon-dropdown" data-toggle-menu-mb="">
							  <i class="fa fa-angle-right" aria-hidden="true"></i>
						  </span>
						</a>
						<ul class="sub-links">
						  <li class="navelement"><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						  <li class="navelement"><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						  <li class="navelement"><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						  <li class="navelement"><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						</ul>
					  </div>
				  
					  <div class="links navelement">
						<a href="#">
							<span>Hair</span>
							<span class="icon-dropdown" data-toggle-menu-mb="">
							  <i class="fa fa-angle-right" aria-hidden="true"></i>
						  </span>
						</a>
						<ul class="sub-links">
						  <li class="navelement"><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						  <li><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						  <li><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						  <li><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						</ul>
					  </div>
				  
					  <div class="links">
						<a href="#">
							<span>Body</span>
							<span class="icon-dropdown" data-toggle-menu-mb="">
							  <i class="fa fa-angle-right" aria-hidden="true"></i>
						  </span>
						</a>
						<ul class="sub-links">
						  <li><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						  <li><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						  <li><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						  <li><div class="link">
							<a href="#">
								<span>Sub-cat</span>
								<span class="icon-dropdown" data-toggle-menu-mb="">
								  <i class="fa fa-angle-right" aria-hidden="true"></i>
							  </span>
							</a>
							<ul class="sub-linkss ">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							  </ul>
						  </div></li>
						</ul>
					  </div>
					  <div class="links ">
						<a href="#" >
							<span>Blogs</span>
						  
						</a>
						
					  </div>
					 
					  <div class="links ">
						<a href="#">
							<span>Contact</span>
						 
						</a>
						
					  </div>
					  <div class="links ">
						<a href="#">
							<span>About Us</span>
						
						</a>
						
					  </div>
					  <% if (login) { %>
						<div class="links">
							<a href="/user/logout">
								<span>Logout</span>
							
							</a>
							
						  </div>
						  <% } %>
					</div>
				  
				  </aside>
				  
			</div>
			
		</div>



		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	<!-- Cart -->
	


<div class="wrap-header-cart js-panel-cart">
	<div class="s-full js-hide-cart"></div>

	<div class="header-cart flex-col-l p-l-65 p-r-25">
		<div class="header-cart-title flex-w flex-sb-m p-b-8">
			<span class="mtext-103 cl2">
				Your Cart
			</span>

			<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
				<i class="zmdi zmdi-close"></i>
			</div>
		</div>
		
		<div class="header-cart-content flex-w js-pscroll">
			<ul class="header-cart-wrapitem w-full" id="cart">
				<!-- <li class="header-cart-item flex-w flex-t m-b-12">
					<div class="header-cart-item-img">
						<img src="images/item-cart-01.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt p-t-8">
						<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
							White Shirt Pleat
						</a>

						<span class="header-cart-item-info">
							1 x $19.00
						</span>
					</div>
				</li> -->

				<!-- <li class="header-cart-item flex-w flex-t m-b-12">
					<div class="header-cart-item-img">
						<img src="images/item-cart-02.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt p-t-8">
						<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
							Converse All Star
						</a>

						<span class="header-cart-item-info">
							1 x $39.00
						</span>
					</div>
				</li> -->

				<!-- <li class="header-cart-item flex-w flex-t m-b-12">
					<div class="header-cart-item-img">
						<img src="images/item-cart-03.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt p-t-8">
						<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
							Nixon Porter Leather
						</a>

						<span class="header-cart-item-info">
							1 x $17.00
						</span>
					</div>
				</li> -->
			</ul>
			
			<div class="w-full">
				<div class="header-cart-total w-full p-tb-40" id="side-cost">
					
				</div>

				<div class="header-cart-buttons flex-w w-full">
					<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
						View Cart
					</a>

					<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
						Check Out
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

		

	




	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	
<script>
	 (async function(){
		var mydiv=document.getElementById('js-cart');
			mydiv.setAttribute("data-notify",'0');
			var mydiv1=document.getElementById('js-cart1');
			mydiv1.setAttribute("data-notify",'0');
		const data= await fetch(`/sidenav-shopping-cart`);

		if(data.ok){
				const js=await data.json();
			console.log(js);
			if(js.cart!==null){
			mydiv.setAttribute("data-notify",js.cart.totalQty);
			mydiv1.setAttribute("data-notify",js.cart.totalQty);
			}
		}

		 
      }());

        
        
    
	  function postdata(){
        if(localStorage.getItem('bruhwishitems')!=null){
        document.getElementById("datafiles").value=localStorage.getItem('bruhwishitems').split(',');
        console.log( document.getElementById("datafiles").value);
        document.getElementById('wishform').submit();
        }else{
			document.getElementById('wishform').submit();
		}
      }
</script>

</body>
</html>