<footer class="footer  p-lg-5"  style="background-image: none !important;" >
  <div class="container" style="    border-top: 1px solid #fff;">
      <div class="row" style="margin-top:20px ;">
          <div class="col-lg-3 col-md-6">
              <div class="footer__address">
                  <ul>
                      <li>
                          <i class="fa fa-phone"></i>
                          <p>Phone</p>
                          <h6>1-677-124-44227</h6>
                      </li>
                      <li>
                          <i class="fa fa-envelope"></i>
                          <p>Email</p>
                          <h6><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c98d83e784bcbaa0aa89aea4a8a0a5e7aaa6a4">[email&#160;protected]</a></h6>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 offset-lg-1 col-md-6">
              <div class="footer__social">
                  <h4>Connect</h4>
                  <div class="footer__social__links">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-dribbble"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6">
              <div class="footer__newslatter">
                  <h4>Stay With me</h4>
                  <form action="#">
                      <input type="text" placeholder="Email">
                      <button type="submit"><i class="fa fa-send-o"></i></button>
                  </form>
              </div>
          </div>
      </div>

      <div class="footer__copyright__text">
          <p>Copyright &copy;
            <script>
                  document.write(new Date().getFullYear());
              </script> All rights reserved 
      </div>

  </div>
</footer>

<!--===============================================================================================-->




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/vendors/bootstrap/js/bootstrap.min.js"></script>

    <script src="/js/vendors/trianglify.min.js"></script>
    <script src="/js/vendors/TweenMax.min.js"></script>
    <script src="/js/vendors/ScrollToPlugin.min.js"></script> 
    <script src="/js/vendors/cash.min.js"></script>
    <script src="/js/Card-polygon.js"></script>
    <script src="/js/demo-2.js"></script>
   





 

    <script src="/assets/js/uikit.js"></script>
    <script src="/assets/js/tippy.all.min.js"></script>
    <script src="/assets/js/simplebar.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/unpkg.com/ionicons%405.2.3/dist/ionicons.js"></script>
  
 

    
   
    <script src="/js/main.js"></script>

