<!-- <%- include ../partials/header %> -->
<%- include ../partials/homeheader %>




<div class="row isotope-grid" style="position: relative;">
 
   

</div>

<script>
  
    (function(){
         var likeditems=(localStorage.getItem('bruhwishitems'));
         console.log(likeditems);
         if(likeditems!=null){
             likeditems.split(",").forEach(element => {
                 console.log(element);
                 if(element.length!==0){
                    var love= document.getElementById(`love${element}`);
                       love.style.fill='#000';
                 }
             
                 
             });
            }
     }());
     function postdata(){
        if(localStorage.getItem('bruhwishitems')!=null){
        document.getElementById("datafiles").value=localStorage.getItem('bruhwishitems').split(',');
        console.log( document.getElementById("datafiles").value);
        document.getElementById('wishform').submit();
        }else{
            document.getElementById('wishform').submit();
        }
        history.replaceState(history.state, 'gotohome', '/')
      }
     function removewishlist(e){
      
  var likeditems=(localStorage.getItem('bruhwishitems'));
  if(likeditems!==null&&likeditems.split(",").includes(e)){
    var updatedarray=  likeditems.split(",").filter(ele=>{
          if(ele!==e){
              return ele;
          }else{
            var love= document.getElementById(`love${ele}`);
                       love.style.fill='#fff';
            //   document.getElementById(`c${ele}`).style.display='none';
          }
      });
      localStorage.setItem('bruhwishitems',updatedarray);
      if(updatedarray.length==0){
          document.getElementById('dot').style.opacity='0';
          localStorage.removeItem('bruhwishitems');
      }
      postdata();
      
  }
  
  
  }

</script>
<!-- <%- include ../partials/footer %> -->
<%- include ../partials/homefooter %>